
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin
solr-4.7.2/example/example-DIH/solr/solr/data
solr-4.7.2/example/example-DIH/solr/mail/
solr-4.7.2/example/example-DIH/solr/rss/
solr-4.7.2/example/example-DIH/solr/tika/
*.log
*.properties
*.class